.root {
  position: absolute;
  top: 64.25%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1.4vh;
  color: #fff;
}
